* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
  body {
    font-family: "outfit" sans-serif;
  }
  @media screen and (min-width: 775px) {
    /*Inicia header*/
    .nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .header--nav {
      background-color: blueviolet;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 95px;
    }
    .logo {
      height: 60px;
      margin: 0px 0 10px 10px;
      line-height: 95px;
    }
    .nav--link {
      color: white;
      text-decoration: none;
    }
    .nav--menu {
      display: flex;
      list-style: none;
      text-decoration: none;
      margin-right: 40px;
    }
  
    .nav--menu__item {
      font-weight: bold;
      font-size: 15px;
      margin: 0 5px;
      line-height: 80px;
      text-transform: uppercase;
      width: max-content;
    }
    .nav--menu__link {
      padding: 8px 5px;
      border-radius: 3px;
    }
  
    .nav--menu__link:hover,
    .nav--menu__link:active {
      background-color: white;
      color: blueviolet;
      transition: 0.5s;
    }
  
    .nav--toggle {
      color: white;
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      line-height: 60px;
      display: none;
    }
    #check {
      display: none;
    }
  }
  
  /*Comienza el header nav responsive*/
  @media screen and (max-width: 874px) {
    body {
      font-family: "outfit" sans-serif;
    }
    .nav {
      display: flex;
      justify-content: space-between;
    }
    .header--nav {
      background-color: blueviolet;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
    }
    .logo {
      height: 50px;
      margin-left: 20px;
    }
    .nav--link {
      color: white;
      text-decoration: none;
    }
    .nav--menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      margin-right: 20px;
      text-decoration: none;
      background-color: black;
      position: fixed;
      left: 0;
      top: 80px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: 0.3s;
    }
  
    .nav--menu__item {
      color: black;
      font-weight: bold;
      font-size: 15px;
      margin: 0 5px;
      line-height: 70px;
      text-transform: uppercase;
      width: max-content;
    }
    .nav--menu__link {
      padding: 8px 5px;
      border-radius: 3px;
    }
    .nav--menu__link:hover,
    .nav--menu__link:active {
      background: none;
      color: blueviolet;
      transition: 0.5s;
    }
    #check:checked ~ ul {
      left: 0;
    }
    .nav--toggle {
      color: white;
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      line-height: 60px;
      display: block;
    }
    #check {
      display: none;
    }
  }
  /*Termina el header*/
  /*Empieza el footer*/
  @media screen and (min-width: 768px) {
    #PieDePagina {
      position: relative;
      background-color: blueviolet;
      width: 100%;
      height: auto;
      padding: 10px 20px;
    }
    .footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .footer--redesSociales {
      display: flex;
      flex-direction: row;
      list-style-type: none;
    }
    .iconosredes {
      height: 40px;
      margin: 10px;
    }
    .contacto {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
    .telefono {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    #PieDePagina {
      position: relative;
      background-color: blueviolet;
      width: 100%;
      height: auto;
      padding: 10px 20px;
    }
    .footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    .footer--redesSociales {
      display: flex;
      flex-direction: row;
      list-style-type: none;
    }
    .iconosredes {
      height: 40px;
      margin: 10px;
    }
    .contacto {
      text-decoration: none;
      color: black;
      font-size: 20px;
      padding: 15px;
    }
    .telefono {
      font-size: 30px;
      margin: 15px;
    }
  }
  
  /*Empiezaa el index*/
  @media screen and (min-width: 768px) {
    .carrousel {
      width: 100%;
    }
    #carouselExampleIndicators {
      margin-top: 15px;
    }
    .carrousel--ubicacion {
      height: auto;
      padding: 10px 30px;
      display: flex;
      justify-content: space-around;
      margin: 30px;
    }
    .ubicacion {
      height: auto;
      border-radius: 10px;
      border: none;
      margin: 10px;
    }
    .titulo--uno {
      font-family: "outfit" sans-serif;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px;
    }
    .contenedor--imagen {
      background-color: rgba(137, 43, 226, 0.507);
      display: flex;
      width: 100%;
      justify-items: center;
      justify-content: center;
      align-items: center;
    }
    .contenedor--imagen__foto {
      width: 30%;
      height: auto;
      margin: 20px;
      grid-area: texto;
    }
    .contenedor--imagen__texto {
      width: 50%;
      grid-area: foto;
      font-size: 18px;
      padding: 40px;
      margin-left: 0;
    }
    .titulo--uno {
      font-family: "outfit" sans-serif;
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px;
      width: 100%;
    }
    .subtitulo {
      display: inline-flex;
      font-size: 30px;
      color: rgba(5, 5, 5, 0.61);
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      border-bottom: solid 2px;
    }
  }
  /*Inicia Index responsive*/
  @media screen and (max-width: 768px) {
    header {
      grid-area: header;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    body {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-areas: "header" "main" "footer";
    }
  
    .carrousel {
      width: 100%;
      margin-top: 60px;
    }
  
    .imagen_carousel {
      height: 100%;
    }
    #carouselExampleIndicators {
      margin-top: 80px;
    }
    .carrousel--ubicacion {
      height: auto;
      padding: 10px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 30px;
    }
    .ubicacion {
      height: auto;
      border-radius: 10px;
      border: none;
      margin: 15px;
    }
    .titulo--uno {
      font-family: "outfit" sans-serif;
      font-size: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contenedor--imagen {
      background-color: rgba(137, 43, 226, 0.507);
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-items: center;
      justify-content: center;
      align-items: center;
    }
    .contenedor--imagen__foto {
      width: 100%;
      height: auto;
      margin: 5px;
      grid-area: texto;
    }
    .contenedor--imagen__texto {
      width: 100%;
      grid-area: foto;
      font-size: 16px;
      padding: 40px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .titulo--uno {
      font-family: "outfit" sans-serif;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      width: 100%;
    }
    .subtitulo {
      display: inline-flex;
      font-size: 20px;
      color: rgba(5, 5, 5, 0.61);
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      border-bottom: solid 2px;
    }
  }
  /*Termina index*/
  /*Inicia servicios*/

  .contenedor {
    background-color: blueviolet;
    margin-top: 15cm;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: "outfit" sans-serif;
    align-content: center;
    align-items: center;
  }
  .contenedor--imagen__dos {
    background-color: none;
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  .fotocomercio {
    width: 25%;
  }
  /*Inicia servicios responsive*/
  @media screen and (max-width: 768px) {
    header {
      grid-area: header;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    body {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-areas: "header" "main" "footer";
    }
  
    .titulo--uno {
      font-family: "outfit" sans-serif;
      font-size: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contenedor--imagen {
      background-color: rgba(137, 43, 226, 0.507);
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-items: center;
      justify-content: center;
      align-items: center;
    }
    .contenedor--imagen__foto {
      width: 100%;
      height: auto;
      margin: 5px;
      grid-area: texto;
    }
    .contenedor--imagen__texto {
      width: 100%;
      grid-area: foto;
      font-size: 16px;
      padding: 40px;
      margin-left: 0;
    }
    .titulo--uno {
      font-family: "outfit" sans-serif;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      width: 100%;
    }
    .subtitulo {
      display: inline-flex;
      font-size: 20px;
      color: rgba(5, 5, 5, 0.61);
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      border-bottom: solid 2px;
    }
    .contenedor {
      background-color: blueviolet;
      margin-top: 15cm;
      height: auto;
      display: grid;
      grid-template-columns: 50%;
      font-family: "outfit" sans-serif;
      align-content: center;
      align-items: center;
    }
    .contenedor--imagen__dos {
      width: 100%;
      background-color: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-items: center;
      justify-content: center;
      align-items: center;
    }
    .fotocomercio {
      width: 25%;
    }
  }
  /*Termina servicios*/
  /*Inicia Puntos Full Pack*/
  
  .carrousel--ubicacion__dos {
    background-color: rgba(137, 43, 226, 0.541);
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
  }
  .body--dos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 40px;
    grid-template-areas: "header" "main" "footer";
  }
  .contenedor--fondo{
    margin-top: 60px;
  }
  /*Inicia Puntos Full Pack Responsive*/
  @media screen and (max-width: 768px) {
    header {
      grid-area: header;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    .body--dos {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      grid-row-gap: 40px;
      grid-template-areas: "header" "main" "footer";
    }
    .titulo--uno {
      margin-top: 40px;
      font-family: "outfit" sans-serif;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .carrousel--ubicacion__dos {
      background-color: rgba(137, 43, 226, 0.541);
      width: 100%;
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 5%;
    }
    br {
      display: none;
    }
  }
  /*Termina Puntos Full Pack*/
  /*Inicia Sobre Nosotros*/
  .titulo--uno {
    margin-top: 50px;
    font-family: "outfit" sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px 0;
  }
  .fotocomercio {
    width: 25%;
    margin: 15px;
  }
  /*Termina Sobre Nosotros*/
  /*Comienza contacto*/
  @media screen and (min-width: 775px) {
    .fondo--body {
      background-image: url(../IMG/Amethyst.jpg);
      background-size: 100% auto;
      background-repeat: repeat;
    }
  
    .formulario {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: auto;
      height: auto;
      background: whitesmoke;
      border-radius: 8px;
      box-shadow: 0 0 40px -10px #000;
      margin-top: 60px;
      max-width: calc(100vw - 40px);
      box-sizing: border-box;
      font-family: "outfit", sans-serif;
      position: block;
    }
  
    .titulo__formulario {
      font-family: "outfit", sans-serif;
      font-size: 25px;
      margin-top: 30px;
    }
    h2 {
      padding-bottom: 30px;
      font-size: 60px;
      color: black;
      position: start;
    }
    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      font-family: "outfit", sans-serif;
      transition: all 0.3s;
      border-bottom: 2px solid #bebed2;
    }
    .boton {
      background: whitesmoke;
    }
    .boton:hover {
      background: blueviolet;
      transition: 0, 5s;
    }
  }
  /*Empieza contacto responsive*/
  @media screen and (max-width: 775px) {
    .fondo--body {
      background-image: url(../IMG/Amethyst.jpg);
      background-size: 100% auto;
      background-repeat: repeat;
    }
  
    .formulario {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 340px;
      height: auto;
      background: whitesmoke;
      border-radius: 8px;
      box-shadow: 0 0 40px -10px #000;
      margin: calc(50vh - 220px) auto;
      margin-bottom: 10px;
      padding: 20px 30px;
      max-width: calc(100vw - 40px);
      box-sizing: border-box;
      font-family: "outfit", sans-serif;
      position: block;
    }
  
    .titulo__formulario {
      font-family: "outfit", sans-serif;
      font-size: 20px;
      margin-top: 10px;
    }
    h2 {
      padding-bottom: 30px;
      font-size: 60px;
      color: black;
      position: center;
    }
  }
  /*Termina contacto*/
  /*Inicia comercios*/
  @media screen and (min-width: 775px) {
    .formulario {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 340px;
      height: auto;
      background: whitesmoke;
      border-radius: 8px;
      box-shadow: 0 0 40px -10px #000;
      margin-top: 100px;
      padding: 20px 30px;
      max-width: calc(100vw - 40px);
      box-sizing: border-box;
      font-family: "outfit", sans-serif;
      position: block;
    }
    .formulario--contenedor {
      display: flex;
      justify-content: center;
    }
  
    .titulo__formulario {
      font-family: "outfit", sans-serif;
      font-size: 20px;
      margin: 20px;
    }
    h2 {
      padding-bottom: 30px;
      font-size: 60px;
      color: black;
      position: center;
    }
    h4 {
      font-size: 16px;
      font-weight: bold;
    }
    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      font-family: "outfit", sans-serif;
      transition: all 0.3s;
      border-bottom: 2px solid #bebed2;
    }
    .boton {
      background: whitesmoke;
    }
    .boton:hover {
      background: blueviolet;
      transition: 0, 5s;
    }
    .titulo--formulario__iniciosesion {
      font-family: "outfit", sans-serif;
      font-size: 20px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
  /*Inicia comercios responsive*/
  @media screen and (max-width: 775px) {
    .titulo--formulario__iniciosesion {
      font-family: "outfit", sans-serif;
      font-size: 20px;
      margin-top: 10px;
    }
    .formulario {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 340px;
      height: auto;
      background: whitesmoke;
      border-radius: 8px;
      box-shadow: 0 0 40px -10px #000;
      margin: calc(50vh - 220px) auto;
      margin-bottom: 10px;
      padding: 20px 30px;
      max-width: calc(100vw - 40px);
      box-sizing: border-box;
      font-family: "outfit", sans-serif;
      position: block;
    }
  
    .titulo__formulario {
      font-family: "outfit", sans-serif;
      font-size: 20px;
      margin-top: 10px;
    }
    h2 {
      padding-bottom: 20px;
      font-size: 60px;
      color: black;
      position: center;
    }
    h4 {
      font-size: 18px;
    }
    .boton {
      background: whitesmoke;
    }
    .boton:hover {
      background: blueviolet;
      transition: 0, 5s;
    }
    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      font-family: "outfit", sans-serif;
      transition: all 0.3s;
      border-bottom: 2px solid #bebed2;
    }
  }
  /*Termina comercios*/
  